/*
 * @(#)light-theme.css
 * Copyright © 2021 The authors and contributors of JHotDraw. MIT License.
 */


#drawingView {
    -fx-background-color: rgb(200, 200, 200);
    -fx-dark-text-color: rgba(0,0,0,.87);
    -fx-mid-text-color: rgba(63,63,63,.87);
    -fx-light-text-color: rgba(255,255,255,.75);

}

.jhotdraw8-drawing-view-canvas-region {
    -fx-border-color: rgba(0,0,0,0.0625), rgba(0,0,0,0.125);
    -fx-border-style: solid outside, solid outside;
    -fx-border-width: 2, 1;
}


.split-pane {
    -fx-padding: 0;
}

.tool-bar:vertical { /* left */
    -fx-background-color: -fx-outer-border, -fx-base;
    -fx-background-insets: 0, 0 1 0 0;
}
.tool-bar { /* top */
    -fx-background-color: -fx-outer-border, -fx-base;
    -fx-background-insets: 0, 0 0 1 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-padding: 0.083333em 1em 0.0769em 0.5em;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-insets: -4 -10 -6 -5, -2 -9 -5 -3;
}
