/*
 * @(#)dark-theme.css
 * Copyright © 2021 The authors and contributors of JHotDraw. MIT License.
 */

.root {
    -fx-base: #323232;
    -fx-accent: #3f628a;
    -fx-control-inner-background: -fx-base;

    -fx-dark-text-color: rgba(0,0,0,.87);
    -fx-mid-text-color: rgba(63,63,63,.87);
    -fx-light-text-color: rgba(255,255,255,.75);

    -fx-default-button: #1763d8;
}

.jhotdraw8-drawing-view-canvas-region {
    -fx-border-color: rgba(0,0,0,0.0625), rgba(0,0,0,0.125);
    -fx-border-style: solid outside, solid outside;
    -fx-border-width: 2, 1;
}

.split-pane {
    -fx-padding: 0;
}