/.idea/libraries/
/org.jhotdraw8.application/target/
/org.jhotdraw8.draw/target/
/org.jhotdraw8.grapher/target/
/org.jhotdraw8.examples/target/
/target/
/org.jhotdraw8.misc/target/
/org.jhotdraw8.teddy/target/
/build/
/lib/
/dist/
**/.DS_Store
/org.jhotdraw8.annotation/target/
/org.jhotdraw8.base/target/
/org.jhotdraw8.collection/target/
/org.jhotdraw8.color/target/
/org.jhotdraw8.css/target/
/org.jhotdraw8.dock/target/
/org.jhotdraw8.font/target/
/org.jhotdraw8.fxcollection/target/
/org.jhotdraw8.geom/target/
/org.jhotdraw8.graph/target/
/org.jhotdraw8.os/target/
/org.jhotdraw8.theme/target/
/org.jhotdraw8.fxbase/target/
/org.jhotdraw8.os/target/
/org.jhotdraw8.fxcontrols/target/
