/.idea/libraries/
/org.jhotdraw8.application/target/
/org.jhotdraw8.draw/target/
/org.jhotdraw8.grapher/target/
/org.jhotdraw8.examples/target/
/target/
/org.jhotdraw8.misc/target/
/org.jhotdraw8.teddy/target/
/build/
/lib/
/dist/
**/.DS_Store
